# Skill levels config, format:
# <action>=<radius>@<skill>[,<radius>@<skill>,...]

cultivate=1@30,2@50,3@70,4@90,5@99,6@100
sow=1@50,2@70,3@90,4@99,5@100
farm=1@50,2@70,3@90,4@99,5@100
harvest=1@50,2@70,3@90,4@99,5@100
replant=1@50,2@70,3@90,4@99,5@100
pick=1@50,2@70,3@90,4@99,5@100
prune=1@50,2@70,3@90,4@99,5@100
plant=1@50,2@70,3@90,4@99,5@100

# Skill level (gardening) to plant all planters in rack
planterPlantSkill=30

# Skill level (gardening) to harvest all planters in rack
planterPickSkill=50

# Additional items to make plantable in planters
#addPotables=nettles, sassafras, woad, cocoaBean, nutmeg, blueberry, lingonberry, raspberries, mushroomBlack, mushroomBlue, mushroomBrown, mushroomGreen, mushroomRed, mushroomYellow
addPotables=nettles, sassafras, woad, cocoaBean, nutmeg, mushroomBrown, mushroomRed

# Allow using area actions when mounted
allowMountedAreaActions=true

# Allow tree area actions on infected trees
allowInfectedTrees=true
