##ServerPacks
##The mod serves additional graphics packs for mods to clients
##
##The mod scans the mod configuraions for an entry "serverPacks" and generates download links for those packs and will send the download links to all connecting clients.
##
##The mod opens an HTTP server to handle the download requests.
##
##Configuration options
##See HTTPServer
##
##Advanced usage
##To reduce server load an external proxy can be used to serve the pack download.
##
##Set publicServerAddress and publicServerPort to point to the proxy
##Setup the proxy to forward "/packs/*" links to the game servers external address and serverport
##The file names are SHA-1 hashes of the file contents. The proxy can be configured to never validate the file again
##Any announced download links will point to the proxy and will be served by the proxy. 
##Only the first download will be redirected from the proxy to the server. 
##All following download can be served by the proxy alone.


#Set a fixed port. If no port is selected a random free port will be used

#serverPort: Set a fixed port
#By default a random free port will be used. Set this to a fixed free port to allow creating firewall rules
serverPort=13725


#publicServerAddress: Set the announced server name or address for download links
# Use this to announce a different server name or IP address to the clients
# By default the setting "External Server IP Address" will be used for pack URLs
# This setting may be required when doing port forwarding in the router

#publicServerAddress: Set the announced server name or address for download links
#By default the setting "External Server IP Address" will be used for pack URLs. 
#The external address may not be reachable from clients if the server runs behind a firewall or port forwarding is used. This setting may be required when doing port forwarding in the router
publicServerAddress=10.100.102.3


#publicServerPort: Set the announced server port for download links
# Use this to announce a different server port to the client
# By default the serverPort or the automaticly choosen port will be used
# This setting may be required when doing port forwarding in the router

#publicServerPort: Set the announced server port for download links
#By default the serverPort or the automaticly choosen port will be used. 
#The port selected in serverPort may not be reachable when the server runs behind a firewall or when using port forwarding. 
#This setting may be required when doing port forwarding in the router
publicServerPort=13725


# Sets a different address for the HTTP server to bind to. Can be 0.0.0.0 to
# bind to all interfaces. Default is external ip in server settings.

#internalServerAddress: Bind the HTTP server to a specific interface (default unset)
#Can be 0.0.0.0 to bind to all interfaces. Default is external ip in server settings.
#internalServerAddress=127.0.0.1


# Maximum number of threads to server downloads in parallel

#maxThreads: Maximum number of threads to serve downloads in parallel (default 50)
maxThreads=50
