


# Whether to update the icons of items worn by players when they log in.
# true : the icons will be updated some time after they log in
# false: the icons will remain weird temporary icons until unequipped and reequipped
# Note that this is an option because this is done by renaming the item to "ITEM_NAME " and
# then back to "ITEM_NAME". This is most likely not an issue, but hey, you can turn it off.
updateWornItems = true

# How many seconds to wait before updating the worn items.
# Only applies if updateWornItems is set to true.
# Increase this if the iconzz-pack serverpack regularly gets downloaded only after
# this much time has passed. 10 seconds should be more than plenty.
# Minimum: 5
# Default: 10
secondsBeforeUpdate = 10